<div class="row">
  <div class="col">
    <h1>Checker</h1>
    <p>Hi <%= @current_user.name %>.</p>
    <p id="board_info"></p>

    <div id="root">
      <p>Please Login first and join the room.</p>
    </div>
  </div>
</div>



<script>
  <%= if @game do %>
    window.gameID = "<%= @game %>";
  <% end %>
</script>
