/* This file is for your main application css. */
@import "bootstrap";
#board {
  background-image: url(/images/checkers-board.jpg);
  background-size: 100% 100%;
  position: absolute;
  height: 528px;
  width: 528px;
}

#board .inner {
  margin: 2%;
  position: absolute;
  width: 96%;
  height: 96%;
}

.turn_info {
  font-size: 20px;
  color: red;
}

.blackSoldier {
    background: url(/images/checkers-checker-black.svg) no-repeat center;
    background-size: 90%;
}

.redSoldier {
    background: url(/images/checkers-checker-red.svg) no-repeat center;
    background-size: 90%;
}

.redQueen {
    background: url(/images/checkers-checker-red-king.svg) no-repeat center;
    background-size: 90%;
}

.blackQueen {
    background: url(/images/checkers-checker-black-king.svg) no-repeat center;
    background-size: 90%;
}


.redqueenwhitehighlight {
        background: url(/images/checkers-highlight-white.svg) no-repeat center,url(/images/checkers-checker-red-king.svg) no-repeat center;
    background-size: 110%,90%;
}


.blackqueenwhitehighlight {
        background: url(/images/checkers-highlight-white.svg) no-repeat center,url(/images/checkers-checker-black-king.svg) no-repeat center;
    background-size: 110%,90%;
}

.redwhitehighlight {
	background: url(/images/checkers-highlight-white.svg) no-repeat center,url(/images/checkers-checker-red.svg) no-repeat center;
    background-size: 110%,90%;
}

.blackwhitehighlight {
        background: url(/images/checkers-highlight-white.svg) no-repeat center,url(/images/checkers-checker-black.svg) no-repeat center;
    background-size: 110%,90%;
}

.blackyellowhighlight
{
	background: url(/images/checkers-highlight-yellow.svg) no-repeat center,url(/images/checkers-checker-black.svg) no-repeat center;
    background-size: 110%,90%;
}

.redyellowhighlight {
        background: url(/images/checkers-highlight-yellow.svg) no-repeat center,url(/images/checkers-checker-red.svg) no-repeat center;
    background-size: 110%,90%;
}

.redqueenyellowhighlight {
        background: url(/images/checkers-highlight-yellow.svg) no-repeat center,url(/images/checkers-checker-red-king.svg) no-repeat center;
    background-size: 110%,90%;
}

.blackqueenyellowhighlight {
        background: url(/images/checkers-highlight-yellow.svg) no-repeat center,url(/images/checkers-checker-black-king.svg) no-repeat center;
    background-size: 110%,90%;
}

.validMove {
    background: url(/images/checkers-highlight-green.svg) no-repeat center;
    background-size: 90%;
}

.killMove {
    background: url(/images/checkers-highlight-red.svg) no-repeat center;
    background-size: 90%;
}


.boardcell {
    position: relative;
    float: left;
    height: 12.5%;
    width: 12.5%;
}

center {
   text-shadow: 3px 2px red;
   font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-color: lavenderblush;
}
